~*
.*
!.github
!.gitignore
!.editorconfig
!.pre-commit-config.yaml
!.readthedocs.yaml
!.flake8
coverage.xml
notes.txt
build/
dist/
__pycache__
/.eggs
*.egg-info
*.pyc
*.log
*.pot
*.mo
*.sqlite
.testmondata
.venv/
src/concurrency/version.py
