~*
.*
!.github
!.gitignore
!.editorconfig
!.pre-commit-config.yaml
!.readthedocs.yaml
coverage.xml
notes.txt
build/
dist/
__pycache__
/.eggs
*.egg-info
*.pyc
*.log
*.pot
*.mo
*.sqlite
.testmondata
Pipfile.lock
poetry.lock
pyproject.toml
.venv/
pdm.lock
