˜*
.appveyor.yml
.coverage
coverage.xml
~build
.idea
.tox
.DS_Store
.cache
notes.txt
docs/build/
__pycache__
/dist
/build
/MANIFEST
/.eggs
*.egg-info
*.pyc
*.log
*.pot
*.mo
*.pyc
*.egg-info
*.sqlite
.testmondata
Pipfile.lock
poetry.lock
pyproject.toml
.venv/
