language: python
python:
  - "2.6"
  - "2.7"
script: cd demoproject && ./manage test demoapp
env:
  - DJANGO_VERSION=1.3.1
  - DJANGO_VERSION=1.4
install:
  - pip install -q Django==$DJANGO_VERSION
  - python setup.py -q install
#pip install -r requirements.txt --use-mirrors
