language: python
sudo: true
python:
  - 3.6
  - 3.7
  - 3.8

addons:
  postgresql: "9.4"

cache:
  directories:
    - $HOME/.cache/pip

services:
  - MySQL
  - PostgreSQL


env:
  - DJANGO=1.11 DB=pg
  - DJANGO=2.1 DB=pg
  - DJANGO=2.2 DB=pg
  - DJANGO=3.0 DB=pg

  - DJANGO=1.11 DB=mysql
  - DJANGO=2.1 DB=mysql
  - DJANGO=2.2 DB=mysql
  - DJANGO=3.0 DB=mysql


install:
  - pip install tox "coverage<=4.0" codecov

script:
  - tox -e "py${TRAVIS_PYTHON_VERSION//.}-d${DJANGO//.}-${DB}" -- py.test tests -v

before_success:
  - coverage erase

after_success:
  - coverage combine
  - codecov


notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/bf3806c14c6efcff7da1
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
