include README.rst
include AUTHORS
include LICENSE
include MANIFEST.in
include setup.py
recursive-include concurrency *.py
recursive-include docs *
recursive-include demoproject *
recursive-exclude docs/OUT *
