include README.rst
include AUTHORS
include CHANGES
include LICENSE
include MANIFEST.in
include setup.py
recursive-include concurrency *.py
recursive-include concurrency/templates *.html
recursive-exclude docs *.py
recursive-exclude tests *.*
