[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
check-manifest = "*"
    django = "*"
django-reversion = "*"
django-webtest = "*"
mock = "*"
pre-commit = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-echo = "*"
tox = "*"
twine="*"
sphinx = "*"
sphinx-issues = "*"

[requires]
python_version = "3.8"
