[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
django-reversion = "*"
django-webtest = "*"
mock = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-echo = "*"
pytest-pythonpath = "*"
tox = "*"
"psycopg2-binary" = "*"
check-manifest = "*"
sphinx = "*"

[requires]
python_version = "3.6"
